body {
  font-family: 'Arial', sans-serif;
}

ul {
  list-style: none;
  padding-left: 1em;
  margin: 0;
}

/* Colours by level */
.level-1 > li > .toggle,
.level-1 > li {
  color: #0A80D8;
}

.level-2 > li > .toggle,
.level-2 > li {
  color: #1E6EB4;
}

.level-3 > li > .toggle,
.level-3 > li {
  color: #245D91;
}

.level-4 > li > .toggle,
.level-4 > li {
  color: #244C70;
}

.level-5 > li > .toggle,
.level-5 > li {
  color: #000;
}

li {
  margin-bottom: 0.3em;
}

.toggle {
  cursor: pointer;
  font-weight: bold;
}

.hidden {
  display: none;
}
